<div style='background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://cdn.thewirecutter.com/wp-content/media/2021/07/righttorepair-2048px-iStock-1226436218-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=980&dpr=2"); padding: 25px; padding-bottom: 35px; color: white; width: 1000px; font-size: 16px;'>
    <h1> Pomyślnie utworzono zgłoszenie! </h1>
    p #{name}, pragniemy Cię poinformować, że twoje zgłoszenie zostało przez nas przyjęte! <br /> <br />
    p Oto jego krótkie podsumowanie:
    <table style='background: rgba(255,255,255,0.5); border: 4px solid none; margin: 10px 0px 20px 0px;'>
        <tr> <th style='padding: 10px;'> Nr zgłoszenia </th> <th style='padding: 10px;'> Marka i model urządzenia </th> <th style='padding: 10px;'> Status zamówienia </th> <th style='padding: 10px;'> Zamówione usługi </th> <th style='padding: 10px;'> Data zgłoszenia </th> </tr>
        <tr> 
            <td style='padding: 10px; text-align: center;'> #{id} </td> 
            <td style='padding: 10px; text-align: center;'> #{modelMarka} </td> 
            <td style='padding: 10px; text-align: center;'> #{status} </td> 
            <td style='padding: 10px; text-align: center;'> 
                - var values = {uslugi};
                ul
                    each val in values
                        li= val
            </td> 
            <td style='padding: 10px; text-align: center;'> #{dataZgloszenia} </td> 
        </tr>
    </table>
    <i>  </i>
    <br/>
    p Teraz z niecierpliwością czekamy na dostarczenie twojego urządzenia. <br />
    p Od razu, kiedy je dostaniemy, bierzemy się do pracy - przeważnie zlecenia realizujemy w ciągu 1-2 dni roboczych. <br />
    p Bądź czujny! O postępach prac, ich zakończeniu, bądź innych sprawach, będziemy Cię informować w następnych wiadomościach.
    <br/> <br />
    <b> Pozdrawiamy, </b> <br/>
    <i> Zespół MobileService.pl </i>
</div>